<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <div th:if="${users.isEmpty()}" th:text="${'No tiene usuarios'}"></div>

    <table th:if="${not users.isEmpty()}">
        <thead>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:if="${user.email}" th:text="${user.email}"></td>
                <td th:if="${user.email == null}" th:text="${'no email'}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>